body{
	min-width:320px;
	background-color: $page-bg;
	
    font-size: $body-font-size;

	section{
		padding: 20px;
		@media(max-width: $pad){
			padding:10px;
		}
	}

	form{
		margin-top: 2%;
	}

	.header-wrapper{
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.footer{
		background: #fff;
		padding: 15px;
		color: #444;
		border-top: 1px solid #d2d6de;
		margin-left: 0;
	}
}