$white: #fff;
$black: #000;
$grey-light:#eee;
$grey-medium-light:#ccc;
$grey-medium:#999;
$grey-dark:#333;
$error-red:#c84a37;
$warning-yellow:#FFC746;
$nav-tabs-border-color:#ddd;
$shaded-alternate: #f4f6f9;
$shaded-alternate-hover: #cacccd;
$nav-tabs-background-color:#f5f5f5;
$info-color:#febd3f;
$page-bg: #ecf0f5;

$box-shadow:rgba(0, 0, 0, .125);

$pad: 767px;
$mobile: 420px;
