.card.card-body.chart-css(ng-controller='appController')
  am-chart(chart-id='chartdiv')

.row
 .col-md-8
 .col-md-4
    select.form-control
     option CSV
    button.btn.btn-primary.btn-sm(ng-click="exportCsv()")
     i.fas.fa-download &nbsp;Download
