.card.card-body.chart-css(ng-controller='appController')
  am-chart(chart-id='chartdiv')


div.pull-right-download
 select.form-control
  option CSV
 button.btn.btn-primary.btn-sm(ng-click="exportCsv()")
  i.fa.fa-download &nbsp;Download
