nav.navbar
 a.btn.btn-outline-primary.text-primary Real Time

 a.btn.btn-outline-warning.text-warning Snapshot

 a.btn.btn-danger( href="#" ) Historical

div.row
  .form.form-inline
  div.col  
   .form-dropdown
     label Sensor Type
     select.form-control
      option Humidity

  div.col
   .form-dropdown
     label Sensors
     select.form-control.form-group
      option Humidity

  div.col
   .form-dropdown
     label Data Granularity
     select.form-control
      option 5 Min

  div.col
   .form-dropdown
     label Time Range
     select.form-control
      option 1 Day